@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@1,5");

.body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: "Bebas Neue", sans-serif !important;
  text-transform: uppercase;
}
.header {
  display: flex;
  float: right;
  border-radius: 100%;
}
#login-form {
  text-align: center;
  width: 300px;
  padding: 20px;
}

#password-input {
  margin-bottom: 10px;
  padding: 10px 20px 10px 5px;
  width: 90%;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
}

#login-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
h2 {
  letter-spacing: 2px;
}
/* .form {
  box-shadow: 0px -2px 35px -9px rgba(0, 0, 0, 0.47);
  border-radius: 20px;
} */
.loginBtn {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  margin-top: 20px;
  text-transform: uppercase;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
  text-align: center;
}
.fa-user {
  margin-right: 10px !important;
}
.loginBtn:hover,
.loginBtn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.loginBtn:hover {
  transform: translateY(-1px);
}

.loginBtn:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
#scroll-container {
  /* border: 3px solid #a4161a; */
  border-radius: 5px;
  height: 100px;
  width: 300px;
  padding: 5px;
  overflow: hidden;
}

#scroll-text {
  height: 100%;
  text-align: center;

  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);

  -moz-animation: my-animation 9s linear infinite;
  -webkit-animation: my-animation 9s linear infinite;
  animation: my-animation 9s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
