body {
  width: 100%;
  font-family: "Montserrat", sans-serif !important;
  font-weight: lighter;
  background-color: #08090ace !important;
}
.navbar {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
}
h2 {
  font-weight: 300 !important;
  width: 100%;
  letter-spacing: 2px;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.section > div {
  margin: 10px;
  background-color: #08090aa3;
  width: 350px;
  height: 240px;
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: bold;
  border-radius: 10px;
  justify-content: center;
}
.fa-facebook-f {
  background-color: #4267b2;
  padding: 10px 15px !important;
  border-radius: 100% !important;
}
.fa-facebook-f:hover {
  box-shadow: -3px 4px 23px 0px rgba(0, 0, 0, 0.8);
}
.fa-twitter {
  color: #1da1f2 !important;
  background-color: white !important;
  padding: 10px 12px !important;
  border-radius: 100% !important;
}
.fa-twitter:hover {
  box-shadow: -3px 4px 23px 0px rgba(0, 0, 0, 0.8);
}
.fa-instagram {
  border-radius: 100%;
  padding: 10px 15px;
  background-image: linear-gradient(
    #405de6,
    #5b51d8,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040
  );
}
.fa-instagram:hover {
  box-shadow: -3px 4px 23px 0px rgba(0, 0, 0, 0.8);
}
.fa-whatsapp {
  border-radius: 100%;
  padding: 8px 12px;
  background-color: #25d366;
}
.fa-whatsapp:hover {
  box-shadow: -3px 4px 23px 0px rgba(0, 0, 0, 0.8);
}
.fa-phone {
  border-radius: 100%;
  padding: 8px 12px;
  background-color: #25d366;
  margin-top: 20px !important;
}
.fa-phone:hover {
  box-shadow: -3px 4px 23px 0px rgba(0, 0, 0, 0.8);
}
.button {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 18px !important;
  padding: 10px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 10px !important;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.button:hover:after {
  opacity: 1;
  right: 10px;
}

@media screen and (max-width: 400px) {
  .section > div {
    font-size: 15px;
  }
}
